@import url("alabaster.css");
@import url("pygments.css");
@import url(http://fonts.googleapis.com/css?family=Maven+Pro|Raleway);

div[class^='highlight'] pre {
  font-size:16px;
  font-family:"Consolas", "Liberation Mono", "Menlo", "Courier", "monospace";
  background-color: #FFF;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

div.linenodiv pre { margin-top: 0px; margin-bottom: 0px; padding-left: 0px; }

code, .rst-content tt {
  font-family:"Consolas", "Liberation Mono", "Menlo", "Courier", "monospace";
}

table.highlighttable {
  margin-left: 0px;
  margin-bottom: 2em;
  border: 1px solid #ccc;
}

dt { font-size:16px !important; width:100%; border-top-width:0px !important; }
dt:target, .highlight { background-color: #FBE54E; }

tt.descname { padding-right:6px !important; }
h1, h2, h3, h4, h5, h6, legend { 
  font-family:"Maven Pro" !important;
  font-weight:normal;
}

body { font-family:"Raleway"; font-weight:normal; }
h1 { font-size: 36px; }
h2 { font-size: 24px; }
img { width:auto; }
