Standard: Cpp11
Language: Cpp
AccessModifierOffset: 0
IndentWidth: 2
UseTab: Never
BinPackParameters: true
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AlwaysBreakTemplateDeclarations: false
NamespaceIndentation: None
PointerBindsToType: true
SpaceInParentheses: false
BreakBeforeBraces: Attach
ColumnLimit: 80
Cpp11BracedListStyle: true
SpaceBeforeTrailingComments: 1
SpaceBeforeParens: ControlStatements
